body {
    font-family: Snell Roundhand, Dancing Script, cursive;
    color: #f382e8;
}

#font {
    font-family: Snell Roundhand, Dancing Script, cursive;
    color: #f382e8;
}

#text {
    font-family: Snell Roundhand, Dancing Script, cursive;
    color: #184f13;
}

#second-title {
    text-decoration: underline;
    font-size: 35px;
    font-family: cursive;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

button {
    background-color: #184f13;
    border-radius: 5px;
    padding: 10px;
    color: #f382e8;
    font-weight: bold;
}

.inputLabel {
    font-size: 14px;
    font-weight: bold;
}

input.inputField {
    padding: 5px;
    border: 2px solid #f382e8;
}

div.box {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 10px 0 10px;
}

#primary1 {
    background-color: #184f13;
}

#primary2 {
    background-color: #2daf21;
}

#primary3 {
    background-color: #f382e8;
}

#primary4 {
    background-color: #e2aadd;
}

#primary5 {
    background-color: #eccfe9;
}

.headings h1 {
    color: #2daf21;
    background-color: #e2aadd;
    font-weight: bold;
}

.headings h2 {
    color: #f382e8;
    font-weight: bold;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f382e8;
    color: #184f13;
}

.container:hover input~.checkmark {
    background-color: #2daf21;
}

.container input:checked~.check {
    background-color: #eccfe9;
}

.check:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.check:after {
    display: block;
}

.container .check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e2aadd;
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #2daf21;
}

.container input:checked~.checkmark {
    background-color: #2daf21;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f382e8;
}

.warning {
    color: #cccc00;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-color: #cccc00;
}

.danger {
    color: red;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-color: red;
}

.success {
    color: green;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-color: green;
}

svg.svg-inline--fa {
    color: white;
}

.spacer {
    margin-top: 25px;
}

#footer {
    border-top: 1px solid #dddddd;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
} 
